@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
}

a {
    text-decoration: none;
}

/* components */

.button {
    font-size: 13.18px;
    color: white;
    background-color: #f3603b;
    padding: 12.5px 30.5px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* header */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 174px;
    padding: 0 165px;
}

header ul {
    font-size: 13px;
    width: 382px;
    display: flex;
    justify-content: space-between;
}

header ul li {
    list-style: none;
}

header ul li a {
    color: black;
}

/* banner */

#banner {
    display: flex;
    align-items: center;
    padding: 0 165px;
    margin-bottom: 150px;
}

.banner__left {
    width: 50%;
}

.banner__left h2 {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: -0.035em;
    font-weight: 700;
    color: #232c50;
    max-width: 460px;
    margin-bottom: 28px;
}

.banner__left p {
    max-width: 370px;
    font-weight: 500; /* opcional */
    font-size: 16.5584px;
    line-height: 157.1%;
    margin-bottom: 28px;
}

.banner__right {
    width: 50%;
}

.banner__right img {
    width: 100%;
}

/* about us */
#aboutUs {
    display: flex;
    padding: 0 165px;
}

.aboutUs__left {
    width: 50%;
}

.aboutUs__left h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 114.6%;
    color: #232851;
    margin-bottom: 36px;
    max-width: 433px;
}

.aboutUs__left span {
    font-weight: 500;
    font-size: 16px;
    line-height: 151.1%;
    max-width: 337px;
    display: block;
}

.aboutUs__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.number {
    font-size: 13.18px;
    color: white;
    background-color: #f3603b;
    padding: 10px 25px;
    border-radius: 30px;
}

.item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 38px;
}

.item div {
    margin-left: 23px;
}

.item h3 {
    color: #323851;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
}

.item p {
    color: #b3b2b7;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
    max-width: 437px;
}

/* testimonials */

#testimonials {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials h2 {
    color: #242e53;
    font-weight: 700;
    font-size: 39.2143px;
    line-height: 61px;
    margin-bottom: 74px;
}

.testimonials__container {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    margin-bottom: 84px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.card img {
    width: 70px;
}

.card span {
    margin: 21px 0;
    color: #242e53;
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 25px;
}

.card p {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #b9b9c1;
}

